<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:growl autoUpdate="true"/>
    <p:panelMenu model="#{verticalmenu.menuModel}"/>
</ui:composition>