<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <link type="text/css" rel="stylesheet" href="faces/javax.faces.resource/theme.css?ln=primefaces-aristo"/>
    <style type="text/css">
        .ui-widget, .ui-widget, .ui-widget {
            font-size: 90% !important;
        }

        body {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #DFDFDF;
        }
    </style>
</h:head>
<h:body>
    <f:view>
        <p:layout style="min-width:400px;height:auto !important;">
            <p:layoutUnit position="north" rendered="#{widgetsProvider.hasWidgets('header')}">
                <c:forEach items="#{widgetsProvider.getWidgets('header')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>
            </p:layoutUnit>

            <p:layoutUnit position="west" resizable="true" size="200" minSize="200" maxSize="400"
                          rendered="#{widgetsProvider.hasWidgets('left_pane')}">
                <c:forEach items="#{widgetsProvider.getWidgets('left_pane')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <c:forEach items="#{widgetsProvider.getWidgets('body_top')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>

                <h:form>
                    <ui:include src="/plugins/#{pluginProvider.pluginName}/#{pluginProvider.functionPage}.xhtml">
                        <ui:param name="functionResponse" value="#{pluginProvider.functionResponse}"/>
                    </ui:include>
                </h:form>

                <c:forEach items="#{widgetsProvider.getWidgets('body_bottom')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>
            </p:layoutUnit>

            <p:layoutUnit position="east" resizable="true" size="200" minSize="200" maxSize="400"
                          rendered="#{widgetsProvider.hasWidgets('right_pane')}">
                <c:forEach items="#{widgetsProvider.getWidgets('right_pane')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>
            </p:layoutUnit>

            <p:layoutUnit position="south" rendered="#{widgetsProvider.hasWidgets('foter')}">
                <c:forEach items="#{widgetsProvider.getWidgets('foter')}" var="widget">
                    <h:form>
                        <ui:include src="/widgets/#{widget.getWidgetName()}.xhtml"/>
                    </h:form>
                </c:forEach>
            </p:layoutUnit>
        </p:layout>
    </f:view>
</h:body>
</html>
